html,
body {
    font: 16px arial, helvetica, sans serif;
    margin: 0em;
    color: #fff;
    padding: 0;
    background: #fff url('../images/studio.jpg') no-repeat center center fixed;
}

header {
    margin: 0 0 15px;
    padding: 10px 15px 15px;
    width: auto;
    /*border-bottom: 1px solid rgba(41, 137, 208, .25);*/
    /*background: rgba(41, 137, 208, .25);*/
    border-top: 4px solid rgba(0, 40, 59, .5);
}

h1,
h2,
h3 {
    margin: 0 0 5px 0;
    padding: 0;
}

h1 {
    font-size: 3em;
    color: #ffc000;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.25em;
    font-style: italic;
    font-weight: normal;
}

p.title {
    font-size: 10em;
    opacity: .25;
    font-weight: bold;
    margin: 0;
    padding: 0;
    line-height: .8;
}


/******************************************************************************
 * Buttons ********************************************************************
 ******************************************************************************/

ul {
    background-color: #0277BD;
    background-color: rgba(2, 119, 189,0.5);
    border-top: 1px solid rgb(1,87,155);
    border-bottom: 1px solid rgba(49,144,201,.25);
    cursor: pointer;
    display: inline-block;
    font: inherit;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    text-decoration: none;
}

ul li {
    display: inline-block;
    margin: 0;
    border-right: 1px solid #01579B;
    position: relative;
}

a {
    display: block;
    position: relative;
    color: #fff;
    text-decoration: none;
    padding: 15px 30px;
}

a:hover {
    color: rgb(255, 255, 255);
    background-color: rgba(1,87,155,.7);
    /*color: #01579B;*/
    /*background-color: #ffc000;*/
    box-shadow: inset 0px 2px 8px rgba(0, 0, 0, 0.5);
}

a:active {
    position: relative;
    color: #fff;
}
