body {
    font: 16px arial, helvetica, sans serif;
    background: url(http://toddaustin.com/v4/img/bg.png);
    margin: 3em;
}

h1 {
    color: #01579B;
    margin: 20px 0;
    padding: 0;
}

/******************************************************************************
 * Buttons ********************************************************************
 ******************************************************************************/
.button {
    background-color: #0277BD;
    border: 1px solid #0277BD;
    border-radius: 3px;
    box-shadow: 0px 1px 1px rgba(255,255,255,0.4) inset;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font: inherit;
    margin: 0;
    padding: 10px 25px;
    position: relative;
    text-decoration: none;

}

.button:hover {
    background-color: #03A9F4;
}

.button:active {
    background-color: #01579B;
    border: 1px solid #01579B;
    box-shadow: inset 1px 3px 8px rgba(0, 0, 0, 0.5);
    color: #fff;
    transform: translateY(2px);
}